:root {
  --buttom-color: #404bbf;
  --title-text: #f4f4fd;
  --button: #4d5ae5;
  --footer-color: #2e2f42;
  --header-color: #ffffff;
  --menu-color: #434455;
  --btn-color: #f4f4fd;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
img {
  display: block;
}
.container {
  display: flex;
}

.body {
  font-family: "Roboto", sans-serif;
  background: var(--header-color);
  color: var(--menu-color);
}
.img {
  display: block;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
/**---------------HEADER--------------**/
.nav-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  gap: 40p;
  align-items: center;
}
.header {
  background: var(--header-color);
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  margin-left: 156px;
  display: inline-block;
  color: var(--buttom-color);
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  color: var(--footer-color);
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-item:hover,
.menu-item:focus {
  color: var(--buttom-color);
}

.menu-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: var(--footer-color);
}

.address {
  font-style: normal;
  margin-right: auto;
}
.address-list {
  display: flex;
  gap: 40px;
}

.mail-link:hover,
.mail-link:focus {
  color: var(--buttom-color);
}
.mail-link {
  letter-spacing: 0.02em;
  color: var(--menu-color);
}
/**---------------SECTION 1--------------**/
.title-top-section {
  margin: 0 auto;
  padding: 188px 0;
  background: var(--footer-color);
  height: 600px;
  width: 1440px;
}

.title {
  height: 120px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  color: var(--header-color);
}

.button-top:hover,
.button-top:focus {
  background-color: var(--buttom-color);
}

.button-top {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  color: var(--header-color);
  background-color: var(--button);
}
/**---------------SECTION 2--------------**/
.section-two {
  padding: 120px 0;
}

.list-list {
  display: flex;
  gap: 24px;
}

.title-top {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--footer-color);
}
.title-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--menu-color);
}

/**---------------SECTION 3--------------**/
.section-three {
  padding-bottom: 120px;
}
.work {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 72px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--footer-color);
}
.list-work {
  display: flex;
  gap: 24px;
}
/**---------------SECTION 4--------------**/
.section-four {
  background-color: var(--title-text);
  padding: 120px 0;
}

.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--footer-color);
}
.team-list {
  display: flex;
  gap: 24px;
}

.foto {
  background-color: var(--header-color);
}

.name {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--footer-color);
}
.speciality {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--menu-color);
}
/**---------------portfolio-main--------------**/

.section-main-portfolio {
  padding: 96px 0 120px;
}

.button-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn:hover,
.btn:focus {
  border: 1px solid transparent;
  background-color: var(--buttom-color);
  color: var(--header-color);
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  color: var(--buton);
  background-color: var(--btn-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--footer-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--menu-color);
}

/**---------------FOOTER--------------**/
.footer {
  padding: 100px 0;
  background: var(--footer-color);
}
.footer-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--title-text);
}

.logo-span {
  color: var(--title-text);
}
